@font-face {
   font-family: 'Gilroy-Light';
   font-display: swap;
   src: url('file:///C:/Users/HP/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-02-17_105356/fonts/Gilroy-Light/font.otf');
}
